{% extends 'base.html' %}

{% block content %}


<h2 id="title"></h2>

<script>

const text = "Workshop Dashboard";
let i = 0;

function typeEffect(){

if(i < text.length){

document.getElementById("title").innerHTML += text.charAt(i);
i++;

setTimeout(typeEffect,80);

}

}

typeEffect();

</script> 

<div class="row mb-4">

<div class="col-md-3">
<div class="card stat-card stat-blue text-center">
<h5>Total Work Orders</h5>
<h2>{{ total }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card stat-card stat-orange text-center">
<h5>Planned</h5>
<h2>{{ planned }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card stat-card stat-purple text-center">
<h5>In Progress</h5>
<h2>{{ progress }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card stat-card stat-green text-center">
<h5>Completed</h5>
<h2>{{ completed }}</h2>
</div>
</div>

</div>

<div class="card p-4">

<h4>Work Order Status Chart</h4>

<canvas id="statusChart"></canvas>

</div>

<script>

document.addEventListener("DOMContentLoaded", function(){

var planned = Number("{{ planned }}");
var progress = Number("{{ progress }}");
var completed = Number("{{ completed }}");

var ctx = document.getElementById('statusChart').getContext('2d');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Planned','In Progress','Completed'],
        datasets: [{
            label: 'Work Orders',
            data: [planned, progress, completed]
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

});

</script>

{% endblock %} 